nav a{
    display: inline-block;
    margin: 4px 10px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: #6074f4;
    color: aliceblue;
    box-shadow: 4px 4px 10px #2d338289;
}

.link-active {
    color: white;
    background: #2d3382;
  }